.container{
    width: 100vw;
    height: 100vh;

    padding-top: 20vh;

    background-color: #E4E7EA !important;
}
.container .form-wrap{
    width: 40%;

    margin: 0 auto;
}
.form-wrap h1{
    text-align: center;
    font-size: 250%;
    margin-bottom: 15px;
}
.form-wrap form{
    padding: 25px;
    background: #fafafa;
    color: #444;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-title{
    font-weight: unset;
    font-size: 18px;
    margin-bottom: 1rem;
}
form input[type=submit]{
    margin-bottom: 15px;
}
